<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 class="newText">Edit <%= newsItem.title %></h1>
        <div class="formContainer">
            <form action="/whatsnew/<%= newsItem._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="newsItem[title]" value="<%= newsItem.title %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="newsItem[content]" value="<%= newsItem.content %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <form class="text-right delete-form" action="/whatsnew/<%= newsItem._id %>?_method=DELETE" method="POST">
                <a class="btn btn-danger" >Remove</a>
            </form>
            <a href="/whatsnew" class="newText">Go Back</a>
        </div>
    </div>
</div>



<% include ../partials/footer %>