<% include ../partials/formHeader %>

<div class="container">
    <div class="row">
        <h1 class="newText">Edit <%= recipe.name %></h1>
        <div class="formContainer">
            <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <p class="newText">Name: </p><input class="form-control" type="text" name="recipe[name]" value="<%= recipe.name %>">
                </div>
                <div class="form-group">
                    <p class="newText">Ingredients: </p><textarea class="form-control" rows="4" cols="50" name="recipe[ingredients]"><%= recipe.ingredients %></textarea>
                </div>
                <div class="form-group">
                    <p class="newText">Instructions: </p><textarea class="form-control" rows="4" cols="50" name="recipe[instructions]"><%= recipe.instructions %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <div>
                <a href="/recipes" class="btn btn-xs btn-default">Go Back</a>
                <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>